<a href="https://colab.research.google.com/github/divyamehra17/Resume/blob/main/icbms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Cleaning and preparing the data for model training

In [ ]:
#importing the libraries.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
#importing the dataset
df=pd.read_csv('/home/vistan-lap-10/Documents/icbms dataset/most imp dataset/Skeleton-Based-Human-Action-Recognition-master/data/skeleton_filtered.csv',encoding='latin-1')
df.head()

     nose_x    nose_y    neck_x  neck_y  ...    REar_y    LEar_x    LEar_y  class
0  0.643519  0.157609  0.634259    0.25  ...  0.157609  0.666667  0.152174   kick
1  0.643519  0.157609  0.634259    0.25  ...  0.157609  0.666667  0.152174   kick
2  0.643519  0.157609  0.638889    0.25  ...  0.157609  0.671296  0.152174   kick
3  0.643519  0.157609  0.638889    0.25  ...  0.157609  0.666667  0.152174   kick
4  0.643519  0.157609  0.638889    0.25  ...  0.157609  0.666667  0.152174   kick

[5 rows x 37 columns]

In [ ]:
df.columns

Index(['nose_x', 'nose_y', 'neck_x', 'neck_y', 'Rshoulder_x', 'Rshoulder_y',
       'Relbow_x', 'Relbow_y', 'Rwrist_x', 'RWrist_y', 'LShoulder_x',
       'LShoulder_y', 'LElbow_x', 'LElbow_y', 'LWrist_x', 'LWrist_y', 'RHip_x',
       'RHip_y', 'RKnee_x', 'RKnee_y', 'RAnkle_x', 'RAnkle_y', 'LHip_x',
       'LHip_y', 'LKnee_x', 'LKnee_y', 'LAnkle_x', 'LAnkle_y', 'REye_x',
       'REye_y', 'LEye_x', 'LEye_y', 'REar_x', 'REar_y', 'LEar_x', 'LEar_y',
       'class'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1584 entries, 0 to 1583
Data columns (total 37 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   nose_x       1584 non-null   float64
 1   nose_y       1584 non-null   float64
 2   neck_x       1584 non-null   float64
 3   neck_y       1584 non-null   float64
 4   Rshoulder_x  1584 non-null   float64
 5   Rshoulder_y  1584 non-null   float64
 6   Relbow_x     1584 non-null   float64
 7   Relbow_y     1584 non-null   float64
 8   Rwrist_x     1584 non-null   float64
 9   RWrist_y     1583 non-null   float64
 10  LShoulder_x  1583 non-null   float64
 11  LShoulder_y  1583 non-null   float64
 12  LElbow_x     1583 non-null   float64
 13  LElbow_y     1583 non-null   float64
 14  LWrist_x     1583 non-null   float64
 15  LWrist_y     1583 non-null   float64
 16  RHip_x       1583 non-null   float64
 17  RHip_y       1583 non-null   float64
 18  RKnee_x      1583 non-null   float64
 19  RKnee_y      1583 non-null   float64
 20  RAnkle_x     1583 non-null   float64
 21  RAnkle_y     1583 non-null   float64
 22  LHip_x       1583 non-null   float64
 23  LHip_y       1583 non-null   float64
 24  LKnee_x      1583 non-null   float64
 25  LKnee_y      1583 non-null   float64
 26  LAnkle_x     1583 non-null   float64
 27  LAnkle_y     1583 non-null   float64
 28  REye_x       1583 non-null   float64
 29  REye_y       1583 non-null   float64
 30  LEye_x       1583 non-null   float64
 31  LEye_y       1583 non-null   float64
 32  REar_x       1583 non-null   float64
 33  REar_y       1583 non-null   float64
 34  LEar_x       1583 non-null   float64
 35  LEar_y       1583 non-null   float64
 36  class        1583 non-null   object
dtypes: float64(36), object(1)
memory usage: 458.0+ KB

In [ ]:
df.describe()

            nose_x       nose_y  ...       LEar_x       LEar_y
count  1584.000000  1584.000000  ...  1583.000000  1583.000000
mean      0.586645     0.312263  ...     0.484342     0.238609
std       0.052490     0.140211  ...     0.250453     0.172137
min       0.453704     0.125000  ...     0.000000     0.000000
25%       0.550926     0.163043  ...     0.537037     0.141304
50%       0.578704     0.336957  ...     0.597222     0.163043
75%       0.620370     0.467391  ...     0.629630     0.440217
max       0.731481     0.548913  ...     0.745370     0.516304

[8 rows x 36 columns]



In Data Analysis What All Things We Do

    Missing Values
    Explore About the Numerical Variables
    Explore About categorical Variables
    Finding Relationship between features


```
# This is formatted as code
```

In [ ]:
df.shape

(1584, 37)

In [ ]:


df.isnull().sum()

nose_x         0
nose_y         0
neck_x         0
neck_y         0
Rshoulder_x    0
Rshoulder_y    0
Relbow_x       0
Relbow_y       0
Rwrist_x       0
RWrist_y       1
LShoulder_x    1
LShoulder_y    1
LElbow_x       1
LElbow_y       1
LWrist_x       1
LWrist_y       1
RHip_x         1
RHip_y         1
RKnee_x        1
RKnee_y        1
RAnkle_x       1
RAnkle_y       1
LHip_x         1
LHip_y         1
LKnee_x        1
LKnee_y        1
LAnkle_x       1
LAnkle_y       1
REye_x         1
REye_y         1
LEye_x         1
LEye_y         1
REar_x         1
REar_y         1
LEar_x         1
LEar_y         1
class          1
dtype: int64

In [ ]:
## Focus on replacing missing values
df['RWrist_y'].unique()

array([0.43478261, 0.42934783, 0.42391304, 0.41847826, 0.4076087 ,
       0.39130435, 0.40217391, 0.41304348, 0.44021739, 0.45652174,
       0.46195652, 0.35869565, 0.39673913, 0.375     , 0.47826087,
       0.4673913 , 0.47282609, 0.44565217, 0.45108696, 0.48369565,
       0.48913043, 0.49456522, 0.5       , 0.36413043, 0.36956522,
       0.38043478, 0.38586957, 0.33695652, 0.53804348, 0.5326087 ,
       0.52717391, 0.54347826, 0.55434783, 0.54891304, 0.61413043,
       0.61956522, 0.60869565, 0.59782609, 0.58152174, 0.5923913 ,
       0.58695652, 0.57065217, 0.60326087, 0.625     , 0.63043478,
       0.57608696, 0.55978261, 0.64130435, 0.63586957, 0.56521739,
       0.50543478, 0.51086957, 0.52173913, 0.51630435, 0.19565217,
       0.19021739, 0.20108696, 0.20652174, 0.22282609, 0.2173913 ,
       0.21195652, 0.22826087, 0.23369565, 0.23913043, 0.24456522,
       0.25543478, 0.25      , 0.26630435, 0.2826087 , 0.28804348,
       0.29347826, 0.29891304, 0.30434783, 0.30978261, 0.31521739,
       0.27717391, 0.27173913, 0.3423913 , 0.68478261, 0.69021739,
       0.69565217, 0.70108696, 0.70652174, 0.71195652, 0.7173913 ,
       0.72282609, 0.72826087, 0.73369565, 0.73913043, 0.67934783,
       0.67391304, 0.66847826, 0.66304348, 0.65217391, 0.64673913,
       0.6576087 , 0.74456522, 0.75      , 0.75543478, 0.76086957,
       0.76630435, 0.77717391, 0.7826087 , 0.79891304, 0.80434783,
       0.79347826, 0.78804348, 0.80978261, 0.81521739, 0.82065217,
       0.77173913,        nan])

In [ ]:
df['RWrist_y'].value_counts()

0.228261    69
0.222826    44
0.451087    39
0.217391    38
0.543478    36
            ..
0.358696     1
0.342391     1
0.255435     1
0.820652     1
0.266304     1
Name: RWrist_y, Length: 111, dtype: int64

In [ ]:
df['RWrist_y'].mode()[0]

0.2282608695652173

In [ ]:
## Replace the missing values with mode
df['RWrist_y']=df['RWrist_y'].fillna(df['RWrist_y'].mode()[0])

In [ ]:
df['RWrist_y'].isnull().sum()

0

In [ ]:
df['LShoulder_x'].unique()

In [ ]:
df['LShoulder_x'].value_counts()

In [ ]:
df['LShoulder_x'].mode()[0]

0.6342592592592593

In [ ]:
df['LShoulder_x']=df['LShoulder_x'].fillna(df['LShoulder_x'].mode()[0])

In [ ]:
df['LShoulder_x'].isnull().sum()

In [ ]:
df['LShoulder_y'].unique()

In [ ]:
df['LShoulder_y'].value_counts()

In [ ]:
df['LShoulder_y'].mode()[0]

In [ ]:
df['LShoulder_y']=df['LShoulder_y'].fillna(df['LShoulder_y'].mode()[0])

In [ ]:
df['LShoulder_y'].isnull().sum()

In [ ]:
df['LElbow_x'].unique()

In [ ]:
df['LElbow_x'].value_counts()

In [ ]:
df['LElbow_x'].mode()[0]

In [ ]:
df['LElbow_x']=df['LElbow_x'].fillna(df['LElbow_x'].mode()[0])

In [ ]:
df['LElbow_x'].isnull().sum()

In [ ]:
df['LElbow_y'].unique()

In [ ]:
df['LElbow_y'].value_counts()

In [ ]:
df['LElbow_y'].mode()[0]

In [ ]:
df['LElbow_y']=df['LElbow_y'].fillna(df['LElbow_y'].mode()[0])

In [ ]:
df['LElbow_y'].isnull().sum()

In [ ]:
df['LWrist_x'].unique()

In [ ]:
df['LWrist_x'].value_counts()

In [ ]:
df['LWrist_x'].mode()[0]

In [ ]:
df['LWrist_x']=df['LWrist_x'].fillna(df['LWrist_x'].mode()[0])

In [ ]:
df['LWrist_x'].isnull().sum()

In [ ]:
df['LWrist_y'].unique()

In [ ]:
df['LWrist_y'].value_counts()

In [ ]:
df['LWrist_y'].mode()[0]

In [ ]:
df['LWrist_y']=df['LWrist_y'].fillna(df['LWrist_y'].mode()[0])

In [ ]:
df['LWrist_y'].isnull().sum()

In [ ]:
df['RHip_x'].unique()

In [ ]:
df['RHip_x'].value_counts()

In [ ]:
df['RHip_x'].mode()[0]

In [ ]:
df['RHip_x']=df['RHip_x'].fillna(df['RHip_x'].mode()[0])

In [ ]:
df['RHip_x'].isnull().sum()

In [ ]:
df['RHip_y'].unique()

In [ ]:
df['RHip_y'].value_counts()

In [ ]:
df['RHip_y'].mode()[0]

In [ ]:
df['RHip_y']=df['RHip_y'].fillna(df['RHip_y'].mode()[0])

In [ ]:
df['RHip_y'].isnull().sum()

In [ ]:
df['RKnee_x'].unique()

In [ ]:
df['RKnee_x'].value_counts()

In [ ]:
df['RKnee_x'].mode()[0]

In [ ]:
df['RKnee_x']=df['RKnee_x'].fillna(df['RKnee_x'].mode()[0])

In [ ]:
df['RKnee_x'].isnull().sum()

In [ ]:
df['RKnee_y'].unique()

In [ ]:
df['RKnee_y'].value_counts()

In [ ]:
df['RKnee_y'].mode()[0]

In [ ]:
df['RKnee_y']=df['RKnee_y'].fillna(df['RKnee_y'].mode()[0])

In [ ]:
df['RKnee_y'].isnull().sum()

In [ ]:
df['RAnkle_x'].unique()

In [ ]:
df['RAnkle_x'].value_counts()

In [ ]:
df['RAnkle_x'].mode()[0]

In [ ]:
df['RAnkle_x']=df['RAnkle_x'].fillna(df['RAnkle_x'].mode()[0])

In [ ]:
df['RAnkle_x'].isnull().sum()

In [ ]:
df['RAnkle_y'].unique()

In [ ]:
df['RAnkle_y'].value_counts()

In [ ]:
df['RAnkle_y'].mode()[0]

In [ ]:
df['RAnkle_y']=df['RAnkle_y'].fillna(df['RAnkle_y'].mode()[0])

In [ ]:
df['RAnkle_y'].isnull().sum()

In [ ]:
df['LHip_x'].unique()

In [ ]:
df['LHip_x'].value_counts()

In [ ]:
df['LHip_x'].mode()[0]

In [ ]:
df['LHip_x']=df['LHip_x'].fillna(df['LHip_x'].mode()[0])

In [ ]:
df['LHip_x'].isnull().sum()

In [ ]:
df['LHip_y'].unique()

In [ ]:
df['LHip_y'].value_counts()

In [ ]:
df['LHip_y'].mode()[0]

In [ ]:
df['LHip_y']=df['LHip_y'].fillna(df['LHip_y'].mode()[0])

In [ ]:
df['LHip_y'].isnull().sum()

In [ ]:
df['LKnee_x'].unique()

In [ ]:
df['LKnee_x'].value_counts()

In [ ]:
df['LKnee_x'].mode()[0]

In [ ]:
df['LKnee_x']=df['LKnee_x'].fillna(df['LKnee_x'].mode()[0])

In [ ]:
df['LKnee_x'].isnull().sum()

In [ ]:
df['LKnee_y'].unique()

In [ ]:
df['LKnee_y'].value_counts()

In [ ]:
df['LKnee_y'].mode()[0]

In [ ]:
df['LKnee_y']=df['LKnee_y'].fillna(df['LKnee_y'].mode()[0])

In [ ]:
df['LKnee_y'].isnull().sum()

In [ ]:
df.isnull().sum()

In [ ]:
df['LAnkle_x'].unique()

In [ ]:
df['LAnkle_x'].value_counts()

In [ ]:
df['LAnkle_x'].mode()[0]

In [ ]:
df['LAnkle_x']=df['LAnkle_x'].fillna(df['LAnkle_x'].mode()[0])

In [ ]:
df['LAnkle_x'].isnull().sum()

In [ ]:
df['LAnkle_y'].unique()

In [ ]:
df['LAnkle_y'].value_counts()

In [ ]:
df['LAnkle_y'].mode()[0]

In [ ]:
df['LAnkle_y']=df['LAnkle_y'].fillna(df['LAnkle_y'].mode()[0])

In [ ]:
df['LAnkle_y'].isnull().sum()

In [ ]:
df['REye_x'].unique()

In [ ]:
df['REye_x'].value_counts()

In [ ]:
df['REye_x'].mode()[0]

In [ ]:
df['REye_x']=df['REye_x'].fillna(df['REye_x'].mode()[0])

In [ ]:
df['REye_x'].isnull().sum()

In [ ]:
df['REye_y'].unique()

In [ ]:
df['REye_y'].value_counts()

In [ ]:
df['REye_y'].mode()[0]

In [ ]:
df['REye_y']=df['REye_y'].fillna(df['REye_y'].mode()[0])

In [ ]:
df['REye_y'].isnull().sum()

In [ ]:
df['LEye_x'].unique()

In [ ]:
df['LEye_x'].value_counts()

In [ ]:
df['LEye_x'].mode()[0]

In [ ]:
df['LEye_x']=df['LEye_x'].fillna(df['LEye_x'].mode()[0])

In [ ]:
df['LEye_x'].isnull().sum()

In [ ]:
df['LEye_y'].unique()

In [ ]:
df['LEye_y'].value_counts()

In [ ]:
df['LEye_y'].mode()[0]

In [ ]:
df['LEye_y']=df['LEye_y'].fillna(df['LEye_y'].mode()[0])

In [ ]:
df['LEye_y'].isnull().sum()

In [ ]:
df['REar_x'].unique()

In [ ]:
df['REar_x'].value_counts()

In [ ]:
df['REar_x'].mode()[0]

In [ ]:
df['REar_x']=df['REar_x'].fillna(df['REar_x'].mode()[0])

In [ ]:
df['REar_x'].isnull().sum()

In [ ]:
df.isnull().sum()

In [ ]:
df['REar_y'].unique()

In [ ]:
df['REar_y'].value_counts()

In [ ]:
df['REar_y'].mode()[0]

In [ ]:
df['REar_y']=df['REar_y'].fillna(df['REar_y'].mode()[0])

In [ ]:
df['REar_y'].isnull().sum()

In [ ]:
df['LEar_x'].unique()

In [ ]:
df['LEar_x'].value_counts()

In [ ]:
df['LEar_x'].mode()[0]

In [ ]:
df['LEar_x']=df['LEar_x'].fillna(df['LEar_x'].mode()[0])

In [ ]:
df['LEar_x'].isnull().sum()

In [ ]:
df['LEar_y'].unique()

In [ ]:
df['LEar_y'].value_counts()

In [ ]:
df['LEar_y'].mode()[0]

In [ ]:
df['LEar_y']=df['LEar_y'].fillna(df['LEar_y'].mode()[0])

In [ ]:
df['LEar_y'].isnull().sum()

In [ ]:
df['class'].unique()

In [ ]:
df['class'].value_counts()

In [ ]:
df['class'].mode()[0]

In [ ]:
df['class']=df['class'].fillna(df['class'].mode()[0])

In [ ]:
df['class'].isnull().sum()

In [ ]:
df.isnull().sum()

In [ ]:
df['class'].value_counts()

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
##To check Data Types
df.dtypes

In [ ]:
df.corr()

In [ ]:
import seaborn as sns

In [ ]:
sns.pairplot(df)

In [ ]:
corrmat=df.corr()
top_corr_feature=corrmat.index
plt.figure(figsize=(20,20))